.lista{
    width: 400px;
    background-color: var(--color2);
    

}


.lista_item{
    border: solid 1px var(--texto);
}
.lista_item:last-of-type{
    border: none;
}
.lista_texto{}

.lista_icono{}

